*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
article{
	width: 70%;
	background-color: #5AB1EE;
	height: 1000px;
	position: absolute;
	left: 15%;
	text-align:center;
	box-shadow: 0 19px 38px rgba(0,0,0,0.50), 0 15px 12px rgba(0,0,0,0.30);

}
#start{

}
header{
	display: flex;
	justify-content: flex-end;
}
h1{
	order: 2;
	margin: 2em;

}
h2{
	order: 1;
	margin: 1em 34% 0 0
}
#questdiv{
	text-align:center;
	width: 50%;
	height: 150px;
	background-color: lightcoral;
	font-size: 32px;
	padding: 2% 6%;
	margin: 2% 0 0 18%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#ansdiv{
	position: relative;
	top: 70px;
	padding: 2em 5em;
	flex-wrap: wrap;
	display:flex;
	width: 67.5%;
	height: 150px;
	margin: 2em 0 0 10em;
}
.ops{
	width: 45%;
	background-color: lightcoral;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 8px 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-size: 18px;
	border: none;
	display: block;

}
.ops:hover{
  	transition: box-shadow 0.2s ease-in-out;
  	box-shadow: 0 15px 25px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.25);
		background-color: rgba(221, 106, 71, 0.9)
}
#next{
	width: 20%;
	background-color: lightcoral;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 8px 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-size: 18px;
	border: none;
	display: block;
	position: relative;
	top: 150px;
	left:39%;
}


#teste.clicked{
	display: none;

}
.ops:focus{
	background-color: #e63e00;

}
#respostas{
	font-size: 30px;
}
#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9,#q10{
	display: none
}
#paginaFinal{
 	width: 70%;
	background-color: #5AB1EE;
	height: 1000px;
	position: absolute;
	left: 15%;
	text-align:center;
	box-shadow: 0 19px 38px rgba(0,0,0,0.50), 0 15px 12px rgba(0,0,0,0.30);
	display: none;
}
#corretas, #incorretas{
	font-size: 32px;
}

.colunas{
  width:70px;
  height: 300px;
	border: solid 1px rgba(0, 0, 0,0.20);
  border-radius:5px;
  border-top-left-radius:5px;
}
.colunas:hover{
	border: solid 0.5px rgba(0, 0, 0,0.50);
}
#erros{
  position:relative;
	background-color: rgb(233, 98, 22);
	margin-left: 30px;
}
#acertos{
  position:relative;
	background-color: rgb(116, 167, 32);
	margin-right: 30px;
}
#container{
	height: 300px;
  width:200px;
  display:flex;
  justify-content:space-between;
	margin: auto;
	position: relative;
	top: 100px;
}
hr{
	position: relative;
	top:100px;
}
